/*CSS document*/

body {
    background-color: #fafafa;
    margin: 0em;
}

div.container {
    max-width: 40em;
    margin: auto;
}

figure {
    margin: 0;
}

img {
    width: 95%;
}

ul {
    list-style-type: none;
    padding: 0;
}

nav ul {
    padding:0em 1em 1em 1em;

}


nav ul li{
    display: inline;
    list-style-type: none;
    margin-right: 1.3em;
    font-family: fairplex-narrow, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.4em;
    letter-spacing: 0.05em;
}

nav ul li a:hover {
    color: #82e6fa;
}

nav ul li a{
    color: #11142e;
    text-decoration: none;
}

p {
    font-family: diavlo, sans-serif;
    font-style: normal;
    font-weight: 200;
    line-height: 125%;
    font-size: 1.3em;
}

figcaption{
    font-family: diavlo, sans-serif;
    font-style: italic;
    font-weight: 200;
    color: #0b215d;

}

h3{
    font-family: fairplex-narrow, serif;
    font-style: normal;
    font-weight: 400;
    
}


h2{
    font-family: fairplex-narrow, serif;
    font-style: normal;
    font-weight: 700;
    font-size: 2em;
    color: #11142e;
}

a{
    text-decoration: none;
}
a h3{
    font-family: fairplex-narrow, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.8em;
    color: #0b215d;
    margin: 1em 0em 0em 0em;
}
a p {
    font-family: diavlo, sans-serif;
    font-style: normal;
    font-weight: 200;
    color: #11142e;
    margin-bottom: 2em;

}
footer p{
    font-family: fairplex-narrow,serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1em;
    margin-top: 1em;
}
